@import "tailwindcss";
@import "../components/Video/Player/Player.css";
@import "../components/Video/Player/PlayerMobile/PlayerMobile.css";

@theme {
  /* ========== MISURE ========== */
  --spacing-navigation-bar: 60px;
  --spacing-wrapper: 30px;

  /* ========== COLORS ========== */
  --color-custom-white-base: #f9f9f9;
  --color-custom-text-base: #867e77;
  --color-custom-text-menu-hover: #b0a69d;
  --color-player-controls: oklch(72.3% 0.219 149.579);
  --color-credits-title: #867e77;
  --color-credits-name: #867e77;
  --color-custom-red: #c82020;

  /* ========== FONT ========== */
  --font-inter: var(--font-inter);
  --font-jet-brains: var(--font-jet-brains);
  --font-nunito-sans: var(--font-nunito-sans);
  --font-roboto: var(--font-roboto);

  /* ========== BREAKPOINT ========== */
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1750px;

  /* ========== TEXT ========== */
  --text-2xs: 0.8rem;
  --text-2xs--line-height: 1.1rem;
  --text-xs: 0.868rem;
  --text-xs--line-height: 1.1875rem;
  --text-sm: 1.042rem;
  --text-sm--line-height: 1.375rem;
  --text-sm--letter-spacing: 0em;
  --text-base: 1.25rem;
  --text-base--line-height: 1.6875rem;
  --text-lg: 1.5rem;
  --text-lg--line-height: normal;
  --text-xl: 1.8rem;
  --text-xl--line-height: normal;
  --text-2xl: 2.16rem;
  --text-2xl--line-height: normal;
  --text-3xl: 2.592rem;
  --text-3xl--line-height: normal;
  --text-4xl: 3.11rem;
  --text-4xl--line-height: normal;
}

@layer components {
  .grid-custom {
    @apply grid grid-cols-5 gap-8;
  }
}

/* globals.css */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 35px;
}

/* width */
::-webkit-scrollbar {
  width: 4;
  height: 8;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* html {
  background-image: url("/textures/texture-background-01.webp");
  background-color: #2a2a2a;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
} */

/* body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: #9fa6cb;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: -1;
} */

/* body {
  scroll-behavior: smooth;
} */
