@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/default/sliders.css";
@import "@vidstack/react/player/styles/default/icons.css";
@import "@vidstack/react/player/styles/default/buttons.css";
@import "@vidstack/react/player/styles/default/controls.css";
@import "@vidstack/react/player/styles/default/gestures.css";
@import "@vidstack/react/player/styles/default/time.css";

.vds-controls-mobile {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-out, visibility 0s linear 4s !important;
}
.vds-controls-mobile[data-visible] {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-out, visibility 0s !important;
}

